@import "materialize";



//Navbar

nav {
  box-shadow: none;
  ul {
    a {
      font-size: 16px;
      color: #26a69a;
    }
  }
}

  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
      